<%- include('../partials/header.ejs', { title: "Home" }) %>
    <%- include('../partials/authNav.ejs') %>
        <div class="main-content">
            <script>
                const username = "<%= username %>";</script>
            <h1>Welcome <%= username %>!</h1>

            <% if (successMessage) { %>
                <p class="success-message">
                    <%= successMessage %>
                </p>
                <% } %>

                    <% if (polls.length> 0) { %>
                        <h3>Active Polls</h3>
                        <ul id="polls">
                            <% polls.forEach(poll=> { %>
                                <li class="poll-container">
                                    <h2>
                                        <%= poll.question %>
                                    </h2>
                                    <form class="pollForm">
                                        <ul class="poll-options">
                                            <li>
                                                Option 1: <%= poll.option1 %>
                                                    <input type="hidden" name="poll-id" value="<%= poll._id %>">
                                                    <input type="hidden" name="option" value="option1">
                                                    <button type="submit" class="voteButton">Vote</button>
                                            </li>
                                            <li>
                                                Option 2: <%= poll.option2 %>
                                                    <input type="hidden" name="poll-id" value="<%= poll._id %>">
                                                    <input type="hidden" name="option" value="option2">
                                                    <button type="submit" class="voteButton">Vote</button>
                                            </li>
                                            <li>
                                                <h2>Vote Results</h2>
                                                <p>Option 1: <%= poll.option1Votes %>
                                                </p>
                                                <p>Option 2: <%= poll.option2Votes %>
                                                </p>
                                            </li>
                                        </ul>
                                    </form>

                                </li>
                                <% }) %>
                        </ul>
                        <% } else { %>
                            <p>No polls currently available!</p>
                            <% } %>

                                <!-- Create Poll -->
                                <h3>Create New Poll</h3>
                                <form action="/createPoll" method="GET">
                                    <button type="submit">Create</button>
                                </form>
        </div>
        <script src="/frontend.js" type="application/javascript"></script>
        <%- include('../partials/footer.ejs') %>